.bodyDiv {
  height: 100vh
}

div.bodyContainer {
  margin-top: 50px !important;
}

.tabs a {
  color: #37474f;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background: #fafafa !important;
}

.auth-content {
  height: 700px !important;
}
