.valign-wrapper {
  margin-left: 10px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.name {
  margin-left: 28px !important;
  margin-top: 10px !important;
  height: 40px !important;
  padding: 0px !important;
  float: left !important;
}

.isOnline {
  color: rgba(255, 255, 255, 0.712);
  margin-top: -2px !important;
  padding: 0px !important;
  font-size: 11px;
  float: left !important;
}

.input-field {
  top: -9px !important;
}

.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

img.imgMsg {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.message {
  font-size: 16px !important;
  overflow-wrap: break-word !important;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
}

.chat-bubble {
  border-radius: 10px !important;
  display: inline-block !important;
  padding: 10px 18px !important;
  position: relative !important;
  margin: 10px !important;
  max-width: 80% !important;
}

.chat-bubble:before {
  content: '\00a0';
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background: #343B47 !important;
  float: left !important;
  margin-left: 7px !important;
}

.chat-bubble.left:before {
  background: #343B47;
  left: 10px;
  z-index: -1;
  border-radius: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
  transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background: rgb(29, 33, 41) !important;
  float: right !important;
  margin-right: 7px !important;
}

.chat-bubble.right:before {
  z-index: -1;
  background: rgb(29, 33, 41) !important;
  border-radius: 10px;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
  transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: white;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

.inputBox {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s;
  color: #EFF2FC;
}

.rowDiv {
  background: #252A33;
  height: 61vh !important;
  max-height: 62vh !important;
  overflow-y: scroll !important;
  top: 0px;
  margin-top: -20px !important;
}

.footerDiv {
  height: 38px;
  bottom: 0px !important;
}

.inputField {
  height: 38px;
}

emoji-picker {
  width: 100% !important;
  right: 6px;
}

emoji-content {
  width: 100% !important
}

.emojiBtn {
  font-size: 20px !important;
  background: inherit !important;
  border: none;
  text-align: center !important;
  margin-left: -10px !important;
}

.emojiDiv {
  width: 40px !important;
  margin-bottom: 0px !important;
}
