<div class="row">
  <div class="col s1 m1 l1">
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s11 m11 l11 img">
          <img src="http://placehold.it/50x50" class="circle">
        </div>
        <div class="row">
          <div class="col s1 m1 l1 name">
            <span>Username</span>
            <p class="isOnline">Online</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 rowDiv">
    <div class="row">
      <div class="col s12">
        <div class="message-wrapper">
          <div class="left">
            <div class="chat-bubble left slide-left">
              <div class="message">
                Message
              </div>
            </div>
          </div>
          <div class="right">
            <div class="chat-bubble right slide-right">
              <div class="message">
                Message
              </div>
            </div>
          </div>
          <div class="cf">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="row">
      <div>
        <div class="inputRow">
          <form #messageForm="ngForm">
            <div class="input-field inputField col s10">
              <textarea name="message" id="message" class="materialize-textarea inputBox"></textarea>
            </div>
            <div class="input-field col s1 emojiDiv">
              <button class="emojiBtn">E</button>
            </div>
            <div class="input-field col s1">
              <button class="suffix btn" [disabled]="!messageForm.form.valid" (click)="store()">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
