<div class="row">
  <div class="col s1 m1 l1">
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s11 m11 l11 img">
          <img src="http://placehold.it/50x50" class="circle">
        </div>
        <div class="row">
          <div class="col s1 m1 l1 name">
            <span>{{ receiver }}</span>
            <p class="isOnline" *ngIf="isOnline">Online</p>
            <p class="isOffline" *ngIf="!isOnline">Offline</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 rowDiv" ngx-auto-scroll lock-y-offset="10" observe-attributes id="style-2">
    <div class="row">
      <div class="col s12">
        <div class="message-wrapper" *ngFor="let msg of messages">
          <div class="left col s12 m12 l12" *ngIf="loggedUser.username !== receiver && loggedUser.username !== msg.senderName">
            <div class="chat-bubble left slide-left">
              <div class="message">
                {{ msg.body }}
              </div>
            </div>
          </div>
          <div class="right col s12 m12 l12" *ngIf="loggedUser.username === msg.senderName">
            <div class="chat-bubble right slide-right">
              <div class="message">
                {{ msg.body }}
              </div>
            </div>
          </div>
          <div class="cf">

          </div>
        </div>
        <div class="left col s12 m12 l12" *ngIf="typing">
          <div class="chat-bubble left slide-left">
            <div class="message">
              {{ receiver }} is typing...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="row">
      <div>
        <div class="inputRow">
          <form #messageForm="ngForm">
            <div class="input-field inputField col s8 m10 l10">
              <textarea name="message" [(ngModel)]="message" class="materialize-textarea inputBox" (keypress)="isTyping()"
                (keydown.enter)="store()"></textarea>
            </div>
            <div class="input-field col s1 m1 l1 emojiDiv">
              <button class="emojiBtn" (click)="toggle()">😄</button>
              <div class="emoji-content-editable" (emojiPickerCaretEmitter)="handleCurrentCaret($event)" (input)="content = $event.target.textContent"
                [textContent]="content" contenteditable="true">
              </div>
              <i class="emoji-toggle-button imgBtn" [(emojiPickerIf)]="toggled" [emojiPickerPreserveSelection]="false"
                [emojiPickerDirection]="direction" [emojiPickerAutofocus]="true" (emojiPickerSelect)="handleSelection($event)">
              </i>
            </div>
            <div class="input-field col s1 m1 l1">
              <button class="suffix btn" [disabled]="!messageForm.form.valid" (click)="store()"><i class="material-icons">
                  send
                </i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
