<ul class="collection col s12 m12 l10 dark" *ngFor="let post of posts">
  <li class="collection-item avatar">
    <img src="http://placehold.it/50x50" alt="" class="circle">
    <span class="title">{{post.user.username}}</span>
    <p class="time">{{ timeFromNow(post.createdAt) }}<br>
      Second Line
    </p>
  </li>
  <div class="row">
    <div class="col s12">
      <div class="post">
        <div class="card-image">
          <img class="postImage" src="http://wac.2f9ad.chicdn.net/802F9AD/u/joyent.wme/public/wme/assets/ec050984-7b81-11e6-96e0-8905cd656caf.jpg?v=26"
            alt="">
        </div>
        <div class="card-content">
          <p>{{ post.post }}</p>
        </div>
        <div class="card-action">
          <i (click)="likePost(post)" [ngClass]="{'liked': (checkIfUserLikedPost(post.likes, user._id))}" class="material-icons">thumb_up</i>
          <span class="iconSpan">{{ post.totalLikes }}</span>

          <i class="material-icons" (click)="openCommentBox(post)">chat</i>
          <span class="iconSpan">{{ post.comments.length }}</span>
        </div>
      </div>
    </div>
  </div>
</ul>
