.commentDiv {
  background-color: #252A33;
}

form {
  background-color: #252A33;
}

.formDiv {
  margin: 25px 20px 0px 20px;
}

.commentBtn {
  float: right;
  margin-top: 15px;
  margin-bottom: 25px;
}

.file-field input[type="file"] {
  width: 70% !important;
}

.collection {
  border: none !important;
  margin-right: 106px;
  margin-left: -10px;
  /* height: 335px; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.collection-item {
  background-color: #252A33 !important;
  border: none !important;
}

.post-title {
  position: relative !important;
  margin: 15px 15px 15px 15px !important;
}
