<div class="row col s12 m12 l10 dark">
  <div class="postsDiv">
    <form #postForm="ngForm">
      <div class="formDiv">
        <textarea id="textarea1" class="materialize-textarea" name="post" [(ngModel)]="formData.post" #post="ngModel"></textarea>
        <div *ngIf="post.invalid && (post.dirty || post.touched)">
          <span class="error" *ngIf="post.errors['required']">
            Post is required.
          </span>
        </div>
        <div class="col s6">
          <div class="file-field input-field">
            <div class="btn waves-effect waves-light">
              <i class="material-icons left">image</i>Image
              <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
        <div class="col s6">
          <button class="btn waves-effect waves-light postBtn" [disabled]="!postForm.form.valid" (click)="createPost()">Post</button>
        </div>
      </div>
    </form>
  </div>
</div>
