<div class="row">
  <div class="col s12 m12 l10 dark">
    <div class="postsDiv">
      <form #postForm="ngForm">
        <div class="formDiv">
          <textarea id="textarea1" class="materialize-textarea" name="post" [(ngModel)]="formData.post" #post="ngModel"></textarea>
          <div *ngIf="post.invalid && (post.dirty || post.touched)">
            <span class="error" *ngIf="post.errors['required']">
              Post is required.
            </span>
          </div>
          <div class="col s6">
            <div class="file-field input-field">
              <div class="btn waves-effect waves-light">
                <span><i class="material-icons">image</i>Image</span>
                <input type="file" name="image" [(ngModel)]="formData.image" #image="ngModel">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <div class="col s6">
            <button class="btn waves-effect waves-light postBtn" [disabled]="!postForm.form.valid" (click)="createPost()">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
