.collection-item,
.collection-header {
  background-color: #252A33 !important;
  border-color: #252A33 !important;
  padding: 10px 20px;
}

.collection {
  border-radius: 1px !important;
  border-color: #252A33 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

a {
  color: lightslategray !important;
}

.active a {
  color: #64b5f6 !important;
  font-weight: bolder;
}

.active {
  color: #64b5f6;
  font-weight: bolder;
}

.bold {
  font-weight: bolder;
}
