<div class="sidebar">
  <ul class="collection with-header">
    <li class="collection-header">
      <div class="col s12 m4">
        <a [routerLink]="['', user?.username]"><span class="bold">Posts</span>
          <p class="active">{{ user?.posts.length }}</p>
        </a>
      </div>
      <div class="col s12 m4" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/following']"><span class="bold">Following</span>
          <p class="active">{{ user?.following.length }}</p>
        </a>
      </div>
      <div class="col s12 m4" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/followers']"><span class="bold">Followers</span>
          <p class="active">{{ user?.followers.length }}</p>
        </a>
      </div>
    </li>
    <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a href="" [routerLink]="['/notifications']">
        <div>
          Notifications<a href="#!" class="secondary-content"><i class="material-icons">alarm</i></a>
        </div>
      </a>
    </li>
    <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/streams']">
        <div>
          Feed
          <a href="#!" class="secondary-content"><i class="material-icons">announcement</i> </a>
        </div>
      </a>
    </li>
    <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/people']">
        <div>
          People
          <a href="#!" class="secondary-content"><i class="material-icons">people</i> </a>
        </div>
      </a>
    </li>
    <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a href="" [routerLink]="['/followers']">
        <div>
          Followers<a href="#!" class="secondary-content"><i class="material-icons">people_outline</i></a>
        </div>
      </a>
    </li>
    <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a href="" [routerLink]="['/following']">
        <div>
          Following<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </div>
      </a>
    </li>
    <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a href="" [routerLink]="['/images', loggedUser.username]">
        <div>
          Photos<a href="#!" class="secondary-content"><i class="material-icons">photo_library</i></a>
        </div>
      </a>
    </li>
  </ul>
</div>
