#panel {
  padding: 0px;
}

#signupbtn {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #37474f;
  font-weight: 500;
}

#title {
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}

form {
  padding: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0px 20px 0px 20px;
}

.error {
  color: red;
}

.indeterminate {
  background-color: #37474f !important;
}
