#panel {
  padding: 0px;
}

#loginbtn {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #37474f;
  font-weight: 500;
}

#title {
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}

form {
  padding: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0px 20px 0px 20px;
}

.error {
  color: red;
}

.indeterminate {
  background-color: #37474f !important;
}

.alert-danger {
  background: #f6b2b5;
  width: 100%;
  border-radius: 3px;
  height: 50px;
  text-align: center;
}

.alert-danger span {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: relative;
  float: left;
  font-size: 15px;
}
