<nav class="nav-extended dark">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <div class="nav-div">
        <img class="circle responsive-img" src="http://placehold.it/100x100" alt="">
      </div>
      <h3 class="profile-name">{{ user.username }}</h3>
      <p class="user-text">This is a test</p>
    </div>
  </div>
</nav>
