<nav class="nav-extended dark">
  <div class="container">
    <div class="nav-wrapper">
      <a [routerLink]="['/streams']" class="brand-logo">Mahala</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="dropdown-trigger" data-target="dropdown">
          <i class="fa fa-globe fa-1x badge"></i>
          <span class="nav-label-icon" *ngIf="unreadNotificationsCount?.length > 0">{{
            unreadNotificationsCount?.length
            }}</span>
          <!-- Dropdown Structure -->
          <ul id="dropdown" class="dropdown-content col s12 collection">
            <div *ngIf="notifications?.length > 0">
              <li class="collection-item avatar" *ngFor="let n of notifications">
                <img src="http://placehold.it/50x50" alt="" class="circle" />
                <span [ngClass]="{ isRead: n.read === true, unread: n.read === false }">{{ n.message }}</span>
                <p class="time">{{ timeFromNow(n.created) }}</p>
              </li>
            </div>
            <div *ngIf="notifications?.length <= 0">
              <li class="collection-item avatar">
                <span class="text">No new notifications</span>
              </li>
            </div>
            <li class="collection-item">
              <p class="secondary-content darker">
                <a class="markAll" (click)="markAllAsRead()">Mark all as Read</a>
              </p>
            </li>
          </ul>
        </li>
        <li class="dropdown-trigger1" data-target="dropdown1">
          <i class="fa fa-comments fa-1x badge"></i>
          <span class="nav-label-icon" *ngIf="msgCount > 0">{{ msgCount }}</span>
          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content col s12 collection">
            <div *ngIf="chats?.length > 0">
              <li class="collection-item avatar" *ngFor="let chat of chats" (click)="goToChatPage(chat.receiverId.username)">
                <img src="http://placehold.it/50x50" alt="" class="circle" />
                <span class="isRead">{{ chat.receiverId.username }}
                </span>

                <p class="message">{{ chat.msgId.messages[chat.msgId.messages?.length-1].body }}
                  <a class="secondary-content" *ngIf="!chat.msgId.messages[chat.msgId.messages?.length-1].isRead && chat.receiverId.username !== chat.msgId.messages[chat.msgId.messages?.length-1].receiverName">
                    <i class="material-icons">brightness_1</i>
                  </a>
                  <a class="secondary-content" *ngIf="chat.msgId.messages[chat.msgId.messages?.length-1].isRead">
                    <i class="material-icons">panorama_fish_eye</i>
                  </a>
                </p>
                <p class="time2">{{ timeFromNow(chat.msgId.messages[chat.msgId.messages?.length-1].createdAt) }}</p>
              </li>
            </div>
            <li class="collection-item">
              <p class="secondary-content darker">
                <a class="markAll" (click)="markAllAsRead()">Mark all as Read</a>
              </p>
            </li>
          </ul>
        </li>
        <li class="logout"><a (click)="logout()">Logout</a></li>
        <!-- Dropdown Trigger -->
      </ul>
    </div>
    <div class="nav-content">
      <div class="nav-div">
        <img class="circle responsive-img" src="http://placehold.it/100x100" alt="" />
      </div>
      <h3 class="profile-name">{{ user.username }}</h3>
      <p class="user-text">This is a test</p>
    </div>
  </div>
</nav>
