.nav-content {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px !important;
}

.collection-item,
.collection-header {
  background-color: rgb(29, 33, 41) !important;
  border-color: #252A33 !important;
}

.collection {
  border-radius: 1px !important;
  border-color: #252A33 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 230px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.dropdown-trigger1 {
  cursor: pointer !important;
  padding-left: 15px !important;
}

.time {
  font-size: 10px;
  color: #666565;
  font-style: italic;
}

.time2 {
  font-size: 10px;
  color: #666565;
  font-style: italic;
  float: right;
}

.message {
  font-size: 12px;
  color: #fafafa !important;
  font-style: italic;
  margin-top: 3px !important
}

.darker {
  background-color: rgb(29, 33, 41) !important;
  border-color: #252A33 !important;
}

.secondary-content {
  margin-top: -5px !important;
}

.isRead {
  margin: 0px !important;
  padding: 0px !important;
  font-weight: normal !important;
  color: #fff;
}

.unread {
  margin: 0px !important;
  padding: 0px !important;
  font-weight: bold !important;
  color: #64b5f6;
}
