<div class="col s6">
  <div class="file-field input-field">
    <div class="btn">
      <span>Image</span>
      <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" id="filePath">
    </div>
  </div>
</div>
<div class="col s6">
  <div class="file-field input-field">
    <a class="waves-effect waves-light btn" (click)="upload()"><i class="material-icons left">image</i>Upload Image</a>
  </div>
</div>
