<div class="container">
  <div class="row">
    <div class="col s10 offset-s1" id="panel">
      <h3 id="title">Sign Up</h3>
      <form class="col s12" [formGroup]="signupForm" novalidate (ngSubmit)="register()">
        <div class="row">
          <div class="input-field col s12">
            <input id="regusername" type="text" formControlName="username">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="regemail" type="email" formControlName="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="regpassword" type="password" formControlName="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="passwordConfirm" type="password">
            <label for="passwordConfirm">Confirm Password</label>
          </div>
        </div>
        <button class="btn waves-effect" id="signupbtn">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
